<nav class="sticky">
<div class="v-btm dynamic-nav bg-info white tc center pv3 z-5 br-100  br--bottom shadow-5">
{{ $currentPage := . }}
<a href="/" class="growph4-l ph3 no-underline dib f6 f5-l dib mr3 mr4-l bg-animate hover-bg-blue br-100 br--bottom">Home</a>
{{ range .Site.Menus.main }}
<a class="dynamic-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}} growph4-l ph3 no-underline dib f6 f5-l dib mr3 mr4-l bg-animate hover-bg-blue br-100 br--bottom" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
{{ end }}


</div>
{{ if not .Page.IsHome}}
<aside id="breadcrumb" class="z-4 white relative w-100 shadow-5 bg-warning br-pill br--right  mw6">
{{ partial "breadcrumb" . }}
 </aside>

{{ end}}

{{ if eq .Kind "section"}}
<aside id="sidebar-nav" class="white dtc v-btm bg-success br-pill ph3 br--right">

 {{ partial "generics/sidebar-section-nav" . }}
</aside>
 {{ end }}
</nav>
