{{/* wraps over jumbotron */}}
<section id="cover">
<div class="cover bg-info white pa3">
  <div class="mw-5 mw7-ns center tc">
    {{ if .Page.Params.image }}
    {{/* put logo here, off to the side maybe? */}}
    {{ partial "jumbotron" (dict "image" .Page.Params.image "title" .Page.Params.title "subtitle" .Page.Params.subtitle) }}
    {{ else }}
    {{ partial "jumbotron" (dict "image" .Site.Params.logoUrl "title" .Page.Params.title "subtitle" .Page.Params.subtitle) }}
    {{ end }}
  </div>
</div>
</section>
