<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
    <p class="mb4 mw6">{{.description}}</p>

    <div class="flex-ns flex-wrap mhn2-ns mb3">
      {{ range .blurbs }}
      <article class="pv4 ph3 ph0-l">
        <div class="flex flex-column flex-row-ns">
          <div class="w-100 pr3-ns order-2 order-1-ns">
            <h1 class="f3 b lh-title mb2">{{.heading}}</h1>
            <p class="f5 f4-l lh-copy">
              {{ .text }}
            </p>
          </div>
          {{/* <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="{{ .image }}" class="db">
          </div> */}}
        </div>

      </article>
      {{/*
      <div class="mb4">
        <div class="mw-50">

        </div>
        <div class="mw-75">
          <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
          <p>{{ .text }}</p>
        </div>
      </div> */}} {{ end }}
    </div>
  </div>
</div>
