<section class="ph3 ph5-ns pv5">
  <article class="mw8 center br2  bg-white cf">
    <div class="dt-ns dt--fixed-ns fl">
      <div class=" v-mid">
    <img src="{{ .image }}" class="br-100 h4 w4 w-100 h-100 dib ba b--none pa2 mw5" title="Photo of a kitty staring at you">
      </div>
      <div class="pa3 pa4-ns dtc-ns v-mid">
        <div>
          <h2 class="fw4 blue mt0 mb3">{{.name}} </h2>
          <h2 class="fw4 blue mt0 mb3">{{.roles}} </h2>
          <p class="black-70 measure lh-copy mv0">
          {{ .text}}
          </p>
        </div>
      </div>

    </div>
  </article>
</section>
<!-- <article class="cf">
  <div class="fl w-100 w-50-ns bg-near-white tc">
    <h1>Column One</h1>
  </div>
  <div class="fl w-100 w-50-ns bg-light-gray tc">
    <h1>Column Two</h1>
  </div>
</article> -->
