<!-- <section class="mw5 center bg-white br3 pa3 pa4-ns mv3"> -->
  <!-- <section class="fl-ns w-25-ns ph2 bg-white"> -->


  <!-- <div class="w-75 center fl-ns w-third-ns pa3 pa4-ns card"> -->
    <div class="fl w-100 w-50-ns pa2 card">
  <div class=" outline tc mw5   bg-primary white br3 pa3 pa4-ns mv3 pv4">
    <img src="{{ .image }}" class="br-100 h4 w4 w-100 h-100 dib ba b--none pa2" title="Photo of a kitty staring at you">
    <h1 class="f3 mb2">{{ .name }}</h1>
    <h1 class="f3 mb2 roles">{{ .roles }}</h1>
    <p class="f5 fw4 white mt0 bio tl">{{ .text }}</p>
  </div>

</div>
<!-- </section> -->
