{{ define "main" }}
  <main>
      {{ .Content }}
          I am a section
          <ul class="contents">
            {{ template "_internal/pagination.html" . }}
            {{ range .Paginator.Pages }}
              <div class="post">
                <h2 class="post__title">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>
                <div class="post__summary">
                  {{ .Summary }}
                </div>
              </div>
            {{ end }}
            {{ range .Sections }}

            {{/* {{ printf "%#v" . }} */}}
            {{ end }}
          </ul>
      paginate
  </main>
{{ end }}
