{{ define "main" }}
{{ with .Params }} {{/* {{ printf "%#v" .}} */}}
{{ partial "heading-description" . }}
{{ end }}
{{ with .Params.projects }}
  {{ range $index, $element := .}}
  {{ partial "short-text" (dict "heading" $element.heading "text" $element.text )}}
{{ end }}
{{ end }}

{{ with .Params.testimonials }}
<div class="pb4">
  {{ range . }} {{ partial "blockquote" . }} {{ end }}
</div>
{{ end }}

<!-- Full-width image -->
{{/* <img src="{{ .Params.full_image }}" alt="" class="db w-100"> */}} {{ end }}
