<article class="dib">
  <a class="link dt w-100 bb mw8 center  b--black-10 no-underline dim" href="#0">

    <dl class="mhn1-l ph3 center mw7">
      <h2 class="f2 b lh-title w-40-l">{{.heading | default "heading"}}</h2>
      <h3 class="f6 fw4 black-60">{{.subheading | default "subheading"}}</h3>
      <dt class="clip">Date</dt>
      <dd class="ml0">{{.date | default "date"}}</dd>
      <div class="mt2 f6">
        <p class="measure">
          {{ .description | default "Lorem ipsum dolor sit amet, consetetur sadipscing elitr" }}
        </p>
      </dl>
    </div>
  </a>
</article>
