<nav class="tl mw8 center mt4 ">

{{ if .action0}}
{{ partial "generics/button" (dict "action" .action0 "action_desc" .action0desc) }}
{{/* <a class="f6 f5-l link bg-warning white bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l br2 shadow-3 " href="{{.action0 }}">{{.action0desc}}</a> */}}
{{ end }}
{{ if .action1}}
<a class="f6 f5-l link bg-success white bg-animate black-80 hover-bg-light-green dib pa3 ph4-l  b--light-silver br2 shadow-3" href="{{.action1 }}">{{.action1desc}}</a>
{{ end }}
{{ if .action2 }}
<a class="f6 f5-l link bg-warning white bg-animate black-80 hover-bg-light-green dib pa3 ph4-l br2 shadow-3" href="{{.action2 }}">{{.action2desc}}</a>
{{ end }}
</nav>
