<section id="#{{anchorize .title }}" class="center cf ph3 ph5-ns pv5 {{ .bgColor}} br-pill br--right" >
  <div class="wrapper center mw7">
  <header class="fn fl-ns w-70-ns">
    <h1 class="f2 lh-title fw9 mb3 mt0 pt3  bw1 br4 br--bottom br--right">
    <a href="#{{anchorize .Title }}" class="no-underline">{{ .title  }}</a>
    </h1>
    <h2 class="f3 mid-gray lh-title">
      {{ .subtitle }}
    </h2>
    <footer>


  </footer>
  </header>
  <div class="fn fl-ns">
    <p class="f5 lh-copy measure mt0-ns georgia" >
      {{.p1  }}
    </p>
    <nav class="tl mw8 center mt4 ">
    {{ if .action0}}
    <a class="f6 f5-l link bg-warning white bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l br2 shadow-3 " href="{{.action0 }}">{{.action0desc}}</a>
    {{ end }}
    {{ if .action1}}
    <a class="f6 f5-l link bg-success bg-animate black-80 hover-bg-light-green dib pa3 ph4-l  b--light-silver br2 shadow-3" href="{{.action1 }}">{{.action1desc}}</a>
    {{ end }}
    {{ if .action2 }}
    <a class="f6 f5-l link bg-orange bg-animate black-80 hover-bg-light-green dib pa3 ph4-l br2 shadow-3" href="{{.action2 }}">{{.action2desc}}</a>
    {{ end }}
  </nav>
  </div>
</div>

</section>
