/* brand colors*/
:root {
	--mariner: #2577c1;
	--ocean-green:	#409e72;
	--port-gore:	#1c1a4c;
	--tussock:	#be8e3a;
	--pomegranate:	#f44336;
  --pomegranate-dark:	#a12a22;

	--primary:             var(--mariner);
	--success:             var(--ocean-green);
	--info:                var(--port-gore);
	--warning:             var(--tussock);
	--danger:              var(--pomegranate-dark);

	}

	.bg-primary {
    background-color: var(--primary);
  }
  .bg-success {
    background-color: var(--success);
  }
  .bg-info {
    background-color: var(--info);
  }
  .bg-warning {
    background-color: var(--warning);
  }
  .bg-danger {
    background-color: var(--danger);
  }


/* animations */

.animated-shadow {
  cursor: pointer;
  position: relative;
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.animated-shadow:after {
  content: '';
  box-shadow: 0 1px 4px 0 #aaa;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* .animated {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
} */

.animated-long {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: backwards;
   animation-fill-mode: backwards;
}

.animated-longer {
   -webkit-animation-duration: 5s;
   animation-duration: 5s;
   -webkit-animation-fill-mode: backwards;
   animation-fill-mode: backwards;
}

#myImg{
-webkit-animation-duration: 8s;
-moz-animation-duration: .5;
-ms-transition-animation-duration: 8s;
}

#navbar a.active {

}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


.sticky {
  position: sticky;
}

@media screen and (min-width: 30em) {
  .sticky-ns {
    position: sticky;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .sticky-m {
    position: sticky;
  }
}

@media screen and (min-width: 60em) {
  .sticky-l {
    position: sticky;
  }
}


body {
   -webkit-font-smoothing: antialiased;

}

.team-card {
overflow: hidden;
height:250px;

}

.team-card:hover {
overflow: hidden;


}

.bio {
    display: none;
		max-height: 0px;
		height: 0px;
}

.team-card:hover .bio {
    display: inherit;
		height: auto;
		width:auto;
		max-height: 250px;
}

.team-card:hover .roles {
    display: none;
}

.clip-circle {
  clip-path: circle(80px at center);
}

.clip-rectangle {
	/* values are from-top, from-right, from-bottom, from-left */
clip-path: inset(5% 5% 5% 5%);
}


.people-photo {
object-fit: contain;
}

/* resize images */
/* .img-container img {
    width: 100%;
    height: auto;
} */


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #96999d;
  font-weight: 300;
}

summary {
  font-weight: 500;
  cursor: pointer;
}

/* removed outline as for codepen only
  don't remove focus on elements
  it's bad accessibility
  don't be _that_ guy
*/
summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  padding: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  color: var(--ocean-green);
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f078";
  transform: translateY(-50%);
  transition: .3s ease;
}

details[open] summary::after {
  content: "\f057";
  /* font-size: 30px; */
  top: 0;
  transform: translateY(0);
  transition: .3s ease;
}

details[open] summary:hover::after {
  animation: pulse 1s ease;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bg-wrapper:before{
    background: black;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    display: inline-block;
    content: '';

}

.bg-wrapper:after {
  position: relative;
  height: 300px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
