{{ define "main" }}
{{/* potential rolemodel for DRY template component (esp the with context which gives us an index) */}}

{{ with .Params.publications }}

  <div class="nowrap overflow-x-auto overflow-y-auto ">
  {{ range $index, $element := .}}
    {{/* {{ partial "generics/item" (dict "heading" .heading "description" .description "date" .date "subheading" .authors)}} */}}

    {{ partial "generics/sidescroll-item" (dict "heading" .heading "description" .description "date" .date "subheading" .authors) }}

    {{ partial "generics/sidescroll-item" (dict "heading" .heading "description" .description "date" .date "subheading" .authors) }}

  {{ end }}

</div>
{{ end }}
{{/* <div class="ph3 ph5-ns pv4">
  <div class="nowrap overflow-x-auto">
    <article class="dib w-100 w-50-m  w-25-ns pa2-ns">
       <div class="aspect-ratio aspect-ratio--1x1">
         <img style="background-image:url(http://mrmrs.github.io/images/0006.jpg);"
         class="db bg-center cover aspect-ratio--object" />
       </div>
       <a href="#0" class="ph2 ph0-ns pb3 link db">
         <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
         <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
       </a>
     </article>
     <article class="dib w-100 w-50-m  w-25-ns pa2-ns">
       <div class="aspect-ratio aspect-ratio--1x1">
         <img style="background-image:url(http://mrmrs.github.io/images/0002.jpg);"
         class="db bg-center cover aspect-ratio--object" />
       </div>
       <a href="#0" class="ph2 ph0-ns pb3 link db">
         <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
         <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
       </a>
     </article>
     <article class="dib w-100 w-50-m  w-25-ns pa2-ns">
       <div class="aspect-ratio aspect-ratio--1x1">
         <img style="background-image:url(http://mrmrs.github.io/images/0003.jpg);"
         class="db bg-center cover aspect-ratio--object" />
       </div>
       <a href="#0" class="ph2 ph0-ns pb3 link db">
         <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
         <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
       </a>
     </article>
     <article class="dib w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0006.jpg);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="dib w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0002.jpg);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="dib w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0003.jpg);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  </div>
</div> */}}

<!-- Full-width image -->
{{/* <img src="{{ .Params.full_image }}" alt="" class="db w-100"> */}} {{ end }}
