{{ define "main" }}
<section id="cover">
<div class="cover bg-info white pa3">
  <div class="mw-5 mw7-ns center tc">
    {{ partial "jumbotron" (dict "logoUrl" .Params.logo "title" .Title "subtitle" .Params.subtitle) }}
  </div>
</div>
</section>



<section id="navbar" class="z-4 shadow-5">
{{ partial "nav" . }}
</section>
<section id="about">
  {{ partial "short-text" .Params.blurb }}
</section>
<section id="mission">

<section id="projects">
   {{ partial "2-up" .Params }}
</section>
</section>


<section id="team" class="center pt4 pb2 mw8 center">

  <div class="mhn1-l ph3 cf">
    <h2 class="f2 b lh-title mb2">Our Team</h2>
    {{ with .Site.GetPage "section" "people" }}
    <!-- {{ printf "%#v" .Params.people }} -->
    {{ range $index, $element := .Params.people}}
    <!-- {{ printf "%#v" $element }} -->
    <div class="fl w-100 w-50-ns pa1">
    {{ partial "team-card-horizontal" (dict "name" $element.name "role1" $element.role1 "role2" $element.role2 "text" $element.text "image" $element.imageUrl)}}
  </div>
    {{ end }}
    {{ end }}

  </div>
</section>

<div class="bg-success">
<section id="faq" class="center pt4 pb2 mw8 center">
      <h2 class="f2 b lh-title mb2 white">Frequently Asked Questions</h2>
  {{ with .Site.GetPage "section" "faq" }}
  <!-- {{ printf "%#v" .Params.people }} -->
  {{ range $index, $element := .Params.questions}}
  <!-- {{ printf "%#v" $element }} -->
  <!-- <div class="fl w-100 w-50-ns pa1"> -->
  {{ partial "faq-card" (dict "question" $element.question "answer" $element.answer )}}
<!-- </div> -->
  {{ end }}
  {{ end }}
</section>
</div>

{{ partial "gallery"  }}


<div class="bg-primary white">

  <section id="contact" class="center cf pt4 pb2 mw8 center">
  <div class="mhn1-l ph3 center mw7">

      <h2 class="f2 b lh-title mb2">Contact</h2>
        {{ partial "newsletter-form" . }}

        {{ partial "contact-form" . }}


  </div>
      </section>
</div>

<!--
<section id="blog">
{{ partial "blog" . }}
</section> -->



{{ end }}
